*{
    padding: 0px;
    margin: 0px;
}
img{
    max-width: 100%;
}
.quti{
    width: 100%;
    height: 300vh;
    background-color: pink;
    text-align: center;    
}
.box{
    width: 100%;
    height: 300px;
    background-image: url('./chef2.png');
    background-size: 10%;
    background-repeat: no-repeat;
    background-position:center top;
}
.lazzat{

    font-family: cursive;
    font-size: 28px;
    padding-top: 50px;
}
.text{
    padding-top: 50px;
    font-family: cursive;
    font-size: 20px;

}
.btn{
    padding: 10px 20px;
    margin-top: 50px;
    background-color:brown;
    color:white;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
}
.rasm{
    width: 400px;
    height: 500px;
    padding: 20px;
    background-color: violet;
    border: 5px solid yellow;
    transition: 0.7s;
}
.rasm:hover{
    transform: rotate(360deg);
}
h2{
    padding: 20px;
    font-size: 28px;
    transition: 0.7s;
}
h2:hover{
    background-color: rgb(20, 224, 30);
    color: blue;
    box-shadow: 0 0 10px 10px red;
    transform: rotate(360deg);
}
.btn1{
    padding: 10px 20px;
    background-color: yellow;
    border: 1px solid black;
    font-weight: bold;
    font-size: 18px;
}
.btn1:hover{
    background-color: black;
    box-shadow: 0 0 5px 5px;
    color: yellow;

    

}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    transition: 0.8s;
}
.matn:hover{
    color: aqua;
    background-color: crimson;
    box-shadow: 0 0 5px 5px purple;
    transform: rotate(360deg);
}
.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:100px ;
    width: 100%;
    height: 30vh;
    background-image: url('./footer.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
input{
    margin: 20px;
    width: 200px;
    height: 30px;
    padding-left:5px ;
    border: 1px solid red;
}
.button{
    padding: 7px 10px;
    background-color: red;
    color:white;
    font-weight: bold;
    border: 1px solid black;
    transform: 0.4s;
}
.button:hover{
    transform: scale(1.1);
    background-color: black;
    color: red;
    border: 1px solid red;
    box-shadow: 0 0 20px 10px;
}
.div{
    height: 75px;
    width: 100%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;

}
.btn2{
    width: 110px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    color: blue;
    background-color: cornflowerblue;
    font-size: 20px;
    margin-left: 10px;
}
.btn2:hover{
    box-shadow: 0 0 20px 10px black;
    color: blueviolet;
    background-color:orange ;
    font-weight: bold;
}